
  
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  
  
  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
   background-color: rgb(236 242 248);
  }
  
 
  
  /* utilities */
  .flex {
    display: flex;
    gap: 2rem;
  }
  
  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
  
  
  /* components */
  .testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
     'one'
     'two'
     'three'
     'four'
     'five';
  
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
  
  }
  
  .testimonial {
    font-size: 16px;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);
    
    
  }
  
  .testimonial:nth-child(1) {
    grid-area: one;
  }
  .testimonial:nth-child(2) {
    grid-area: two;
  }
  .testimonial:nth-child(3) {
    grid-area: three;
  }
  .testimonial:nth-child(4) {
    grid-area: four;
  }
  .testimonial:nth-child(5) {
    grid-area: five;
  }
  
  @media screen and (min-width: 33em) {
    .testimonial-grid {
        grid-template-areas:
        "one one"
        "two three"
        "five five"
        "four four";
    }
  }
  
  @media screen and (min-width: 38em) {
    .testimonial-grid {
      grid-template-areas:
       'one one'
       'two five'
       'three five'
       'four four';
    }
  }
  
  @media screen and (min-width: 54em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two"
        "five five five"
        "three four four";
    }
  }
  
  @media screen and (min-width: 75em) {
    .testimonial-grid {
        grid-template-areas:
        "one one two five"
        "three four four five";
    }
  }
  
  
  .testimonial.quote {
    background-image: url("./images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
  }
  
  .testimonial img {
    width: 1.75rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
  
  .testimonial .name {
    font-size: var(--fs-400);
    font-weight: var(--fw-400);
    line-height: 1;
  }
  
  .testimonial .position {
    font-size: var(--fs-300);
    opacity: 0.5;
  }
  
  .testimonial > p:first-of-type {
    font-size: var(--fs-500);
    line-height: 1.2;
  }
  
  .testimonial > p:last-of-type {
    opacity: 0.7;
  }
  